<form class="row g-3 needs-validation" novalidate [formGroup]="form">
  <div class="row g-3 ">
    <div class="col-sm-12">
      <label for="nome" class="form-label">Nome do curso</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Curso"
        formControlName="nome"
        [ngClass]="{'is-invalid' : submitted && hasError('nome'), 'is-valid' : submitted && isValid('nome') }"
      />
      <div class="valid-feedback" *ngIf="hasError('nome') && hasError('nome')['required'] ">
        Informe o nome para o Curso.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['minlength'];else  ">
        Nome com minimo de {{hasError('nome')['minlength'].requiredLength}} caracteres.
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['maxlength'] ">
        Nome com minimo de {{hasError('nome')['maxlength'].requiredLength}} caracteres.
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary col-2" (click)="onSubmit()" >Salvar</button>
  <button type="button" class="btn btn-default col-2" (click)="onCancel()" >Cancelar</button>

</form>
